#hero{
    background-image: url(images/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    padding-bottom:180px ;
}
.title{
    font-family: 'Ubuntu', sans-serif;
}
li{
    font-family: 'Ubuntu', sans-serif;
    padding-right:30px;
    font-weight:bold;
    
}
h4{
    font-family: 'Ubuntu', sans-serif;
    color: azure;
}
.img1{
   
    width: 60%;
    margin-right:200px ;
    transform: rotate(-10deg);
}
h1{
    font-family: "Architects Daughter";
    line-height:1.5 ;
    font-size:3rem;
    color:azure;
}
.container-fluid{
    padding:3% 15% ;
}
h5{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    margin-bottom:50px ;
}

.navbar-brand{
    font-size:1.5rem;
}
.navbar-nav{
    padding:0 18px;
}

.btn{
    margin-top:35px;
    margin-left:15px;
}


#features{
 padding:7% 15%;
 background-color:azure;
}

.feature{
    padding:4%;
    text-align: center;
}


h3{
    font-family: "Architects Daughter";
}

p{
    font-family: 'Ubuntu', sans-serif;
    color: darkgray;
}
ion-icon {
    font-size: 64px;
  }
.sticker{
    font-size:70px;
    margin-bottom: 1.5rem;
}

.sticker:hover{
    color: cadetblue;
}

#carousel{
    padding:7% 15%;
    text-align: center;
    color:azure;
    
    background-image: url(images/carousal.jpg);
    background-size: cover;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    line-height:1.5 ;
}

.carousalimg{
    width:10%;
    border-radius:100%;    
    margin:20px;
}
.logo1{
    width:10rem;
}
.logo2{
    width:7rem;
}
.logo3{
    width:11rem;
}
.logo4{
    width:12rem;
}
.logoes{
    padding:2% 15%;
}